@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>TacoCat</h1>


<div class="row">
    <div class="col">
        <form asp-action="Solve">
            <div class="row">
                <div class="col">
                    <input type="text" name="userWord" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Reverse Me</button>
                </div>
            </div>
        </form>
    </div>

</div>

<hr />

<div class="row">
    <div class="col h2 text-center">
        Your reversed word will show below.
    </div>
</div>
<div class="row">
    <div class="col text-center h1">
        @ViewData["Result"]
    </div>
</div>

@if ((string)ViewData["IsPalindrome"] == "success")
{
    <div>
        <h1 class="card card-body bg-success text-center">Success!</h1>

    </div>
}
else if ((string)ViewData["IsPalindrome"] == "fail")
{
    <div>
        <h1 class="card card-body bg-danger text-center">You're A Failure!!</h1>

    </div>
}


